<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="com.krista" level="info"/>
        <Logger name="app.krista.extensions.essentials.collaboration.outlook3" level="info"/>
        <Logger name="com.kristasoft.extensions" level="info"/>
    </Loggers>
</Configuration>
